@font-face {
    font-family: "Digimon";
    src: local("Digimon"), url("fonts/PixelDigivolve-mOm9.ttf") format("truetype");
}

body {
    font-family: system-ui, sans-serif;
    background: #0A15DB;
    color: #eee;

    display: flex;            
    justify-content: center;
    align-items: center;      
    margin: 0;                
    flex-direction: column;    
}

.titulo {
    text-align: center;
    font-family: "Digimon";
    font-size: 4rem;
    color: #FFD700;
    text-transform: uppercase;

    text-shadow:
        -2px -2px 0 #0033CC,   
        2px -2px 0 #0033CC,
        -2px 2px 0 #0033CC,
        2px 2px 0 #0033CC,
        4px 4px 8px #FF6600;   
}

.mundo {
    text-align: center;
    font-family: "Digimon";
    font-size: 4rem;
    text-shadow: none;
}

#gallery {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
    padding: 1rem;
}

.txtId {
    font-size: small;
    font-weight: bold;
    color: black;
}

.txtId:hover{
            color: salmon;
    font-weight: bold;
    transform: scale(1.1);
}

.txtNombre {
    font-size: small;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.txtNombre:hover{
            color: salmon;
    font-weight: bold;
    transform: scale(1.1);
}
                
.card img {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-top: 10px;
}

.card {
    position: relative;
    width: auto;
    height: auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
        border: 4px solid gold;
}

.card:hover {
        transform: scale(1.1);
}

#buscadorId {
    height: 20px;
    width: 40px;
    border: 2px solid cyan;
    border-radius: 8px;
    background: rgba(0, 255, 255, 0.4);
       color: white;
}

#buscadorId::placeholder {
    color: white;
}

#buscadorId:focus {
    border-color: cyan;
}

#buscadorNombre {
    height: 20px;
    width: 150px;
        border: 2px solid cyan;
    border-radius: 8px;
    background: rgba(0, 255, 255, 0.4);
       color: white;
}

#buscadorNombre::placeholder {
    color: white;
}

#buscadorNombre:focus {
    border-color: cyan;
}

#botonBuscar {
    height: 25px;
        border: 2px solid cyan;
    border-radius: 8px;
    background: rgba(0, 255, 255, 0.4);
       color: white;
}

#botonBuscar:hover {
  transform: scale(1.1);
}

.digimonDetalles {
    background: white;
    color: black;
    text-align: center;
    width: 1000px;
    border: 4px solid gold;
    border-radius: 8px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
}

.abilities {
    text-align: start;
}

.fields {
  display: flex;        
  flex-wrap: wrap; 
  gap: 10px;           
  justify-content: flex-start; 
}

.fieldCard {
  display: flex;           
  flex-direction: column;
  align-items: center;     
  width: 100px;            
  text-align: center;
}

.fieldCard img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.fieldCard img:hover {
  transform: scale(1.05); 
}

.contenedorEvoluciones {
  margin-top: 30px;
}

.evoluciones {
  display: flex;
  flex-wrap: wrap;      
  gap: 15px;            
  justify-content: center; 
  margin-bottom: 20px;
}

.evolucionCard {
  flex: 0 0 120px;      
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.evolucionCard img {
  width: 100%;           
  height: auto;          
  border-radius: 8px;    
  border: 2px solid #ccc; 
  transition: transform 0.2s;
}

.evolucionCard img:hover {
  transform: scale(1.05); 
}

.evolucionCard p {
  margin-top: 5px;
  font-size: 14px;
}

.stat:hover {
            color: salmon;
    font-weight: bold;
    transform: scale(1.1);
}

.botonVolver {
    margin-bottom: 100px;
  padding: 8px 16px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.botonVolver:hover {
        transform: scale(1.1);
}